/*
  Graham Godfrey
  This is the style file for index.html. It includes the different options
  that the js file applies when the interactive buttons are clicked.
*/


body {
  margin: 0%;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

#leftgrad {
  background-image: linear-gradient(to left, white , rgb(123,12,248));
  width: 100%;
}

#rightgrad {
  background-image: linear-gradient(to right, white , rgb(150,150,150));
  width: 100%;
}

#home {
  background-color: white;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  background-blend-mode: 100%;
}

.basic {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: 'DM Serif Text', serif;
}

#main-background {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 0cm;
  background-color: rgb(28, 205, 137);
  background-repeat:repeat-y;
  background-size:auto;
  /*background-image: url("img/background.jpg");*/
  background-attachment: scroll;
}

p, #subhead, section {
  font-size: 14pt;
}

h1 {
  font-size: 32pt;
  /*text-decoration: underline;*/
  margin-top: 0px;
  margin-bottom: 0px;
}
#subhead {
  color: rgb(140, 169, 197);
  font-style: italic;
}

#links {
  display: flex;
  justify-content: left;
}

#links > div {
  margin-right: 5%;
  font-weight: bold;
  background-color: white;
  border: 0px outset black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -5px 4px -4px white;
}

#links > div:hover {
  background-image: linear-gradient(gray,white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -5px 4px -2px black;
  color: blue;
  cursor: pointer;
}

#subheadimg {
  width: 100px;
  height: 128px;
}

#happy, #sad {
  width: 450px;
  height: 400px;
}

#sad {
  width: 600px;
}

.credit, footer {
  font-size: 10pt;
  font-family: 'Aldrich', sans-serif;
}

#posts > article, footer {
  border-top-style: solid;
  border-top-width: medium;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

header > div {
  align-self: flex-start;
}

#headroom {
  margin-top: 1cm;
}

.purple {
  color: rgb(186, 8, 240);
}

.gold {
  color: gold;
}

ul {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

hr {
  color: black;
}

li li {
  font-size: 14pt;
}

.memeMode {
  height: 350px;
}

.hidden {
  display: none;
}

#error {
  color: red;
}

@media screen and (max-width: 600px) {
  #rightgrad {
    width: 50%;
  }
  #leftgrad {
    width: 50%;
  }
  iframe {
    width: 320;
    height: 200;
  }
}