/*
  Graham Godfrey
  This is the style file for index.html. It includes the different options
  that the js file applies when the interactive buttons are clicked.
*/

html, body {
  height: 100%;
}

body {
  margin: 0%;
}

#leftgrad {
  background-image: linear-gradient(to left, white , rgb(123,12,248));
  width: 100%;
}

#rightgrad {
  background-image: linear-gradient(to right, white , rgb(150,150,150));
  width: 100%;
}

#home {
  background-color: white;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  background-blend-mode: 100%;
}

.basic {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: 'DM Serif Text', serif;
}

#main-background {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 0cm;
  background-color: rgb(28, 205, 137);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-image: url("img/background.jpg");*/
  background-attachment: fixed;
}

p, #subhead, section {
  font-size: 14pt;
}

h1 {
  font-size: 32pt;
  /*text-decoration: underline;*/
  margin-top: 0px;
  margin-bottom: 0px;
  margin-block-end: -0.15em;
}

#subhead {
  color: rgb(140, 169, 197);
  font-style: italic;
}

#subheadimg {
  width: 100px;
  height: 128px;
}

#happy, #sad {
  width: 450px;
  height: 400px;
}

#sad {
  width: 600px;
}

.credit, footer {
  font-size: 10pt;
  font-family: 'Aldrich', sans-serif;
}

#blog > article, footer {
  border-top-style: solid;
  border-top-width: medium;
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
}

header > div {
  align-self: flex-end;
  padding-right: 10px;
}

.purple {
  color: rgb(186, 8, 240);
}

.gold {
  color: gold;
}

ul {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

hr {
  color: black;
}

li li {
  font-size: 14pt;
}

.memeMode {
  height: 350px;
}

.hidden {
  display: none;
}

#error {
  color: red;
}